<<<<<<< HEAD
<h1>Welcome on Ouiz Back Office</h1>
=======
<h1>Welcome on Ouizz Back Office</h1>
>>>>>>> 9f323f7a124b32002f2258add6d81c9988139aa4
<p>
<br/>Use the links above to access the differents tables of our database:<br/>
<br/>- Events</br>
<br/>- Ouizz users</br> 
<br/>- Registrations</br> 
</p>
<p>Enjoy ;-)</p>
