<h1>Welcome on Ouiz Back Office</h1>
<p>
<br/>Use the links above to access the differents tables of our database:<br/>
<br/>- Events</br>
<br/>- Ouizz users</br> 
<br/>- Registrations</br> 
</p>
<p>Enjoy ;-)</p>
